@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
body {
    font-family: Michroma, serif;
    background: linear-gradient(93deg, #411fd8 0%, #463d3d 100%);
}   
p {
    color: aquamarine;
}
.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(156, 155, 155);
}

.navbar-brand img {
    width: 40px;
}
.navbar-toggler {
    background-color: rgb(195, 195, 195);
}
.sidebar { 
    color: aquamarine;
    background: linear-gradient(270deg, #411fd8 0%, #463d3d 100%);
    text-indent: 15px;
}
.card   {
    background: linear-gradient(270deg, #411fd8 0%, #463d3d 100%);
    color: aquamarine;

}
.card a { 
    text-decoration: none;
    color: aquamarine;

}
.slidetext, .footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer, .btn-primary {
    background: linear-gradient(270deg, #411fd8 0%, #463d3d 100%);
    
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim  {
    animation: NameAnim 2s ease 2s infinite normal forwards;
    }
    @keyframes NameAnim {
        0%,
        100% {
            transform: translateX(0%);
            transform-origin: 50% 50%;
        }
    
        15% {
            transform: translateX(-30px) rotate(-6deg);
        }
    
        30% {
            transform: translateX(15px) rotate(6deg);
        }
    
        45% {
            transform: translateX(-15px) rotate(-3.6deg);
        }
    
        60% {
            transform: translateX(9px) rotate(2.4deg);
        }
    
        75% {
            transform: translateX(-6px) rotate(-1.2deg);
        }
    }

@media (max-width: 755px) {
        .carousel-indicators {
            display: none;
        }
}